.mainDiv{
    background: #fff;
    border-radius: 20px;
    z-index: -2;
}
.title{
    font-weight: bold;
    font-size: 32px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E3E3E3;
    padding: 25px 10px 17px 20px;
}

.switchAccType{
    padding: 25px 10px 17px 20px;
    border-bottom: 1px solid #E3E3E3;
    margin-bottom: 10px;

}

.findTunes{
    padding: 25px 10px 17px 20px;
    border-bottom: 1px solid #E3E3E3;
    margin-bottom: 10px;
}

.NSFW{
    padding: 25px 10px 25px 20px;
    margin-bottom: 30px;
}

.heading{
    font-weight: 600;
font-size: 24px;
}

.headingFine{
    font-weight: 600;
    font-size: 24px;
}

.desc{
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
}

.interests{
    margin-bottom: 15px;
}

.interest{
    background: white !important;
    color: black !important;
    font-weight: 600;
    border: 2px solid black !important;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 15px;
    margin-bottom: 10px;
}

@media only screen and (max-width:512px){
    .interest{
     font-size: 12px !important; 
     padding: 3px !important;
     margin-right: 3vw;
    }
}

@media only screen and (max-width:768px){
    .interest{
     font-size: 13px;
     padding: 6px;
     margin-right: 3vw;
    }
}

.checkbox{
    font-size: 16px !important;
    line-height: 24px !important;
    cursor: pointer;
}

.checkboxInput{
    width: 16px;
    height: 16px;
    cursor: pointer;
}


.modalDiv{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.201);
    min-height: 100vh;
    z-index: 99999;
    overflow-y: auto;
    
}


@media only screen and (max-width:768px){
    .desc{
        padding-bottom: 5px;
        padding-top: 5px;
    }
    .avt{
        justify-content: center;
    }
}

@media only screen and (max-width:390px){
    .heading{
        font-size: 20px;
    }

    .headingFine{
        font-size: 19px !important;
    }
    .desc{
        font-size: 13px;
    }
}

@media only screen and (max-width:426px){
    .headingFine{
        font-size: 20px;
    }

.show{
    display: unset;
}

.hide{
    display: none;

}
}