
.headDiv{
    background-color: white;
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }
  
  
  .header {
      width: 93%;
      position: relative;
      z-index: 20;
      margin-top: 1.7%;
      background-color: white;
      padding: 10px;
      padding-left: 3vw !important;
      padding-right: 3vw !important;
      border-radius: 15px;
      border: 2px solid #e3e3e3b6 !important; }
       @media only screen and (max-width: 767px) {
        .header {
          padding-left: 5vw !important;
          margin-top: 5%; } }
      :global(.dark-mode) .header {
        border-color: #353945; }
    
    .container {
      display: flex;
      align-items: center; }
      .container > .button {
        margin-right: 12px; }
        @media only screen and (max-width: 767px) {
          .container > .button {
            display: none; } }
    
    .logo {
      position: relative;
      z-index: 12;
      display: inline-block;
      flex-shrink: 0;
      width: 80px;
      margin-left: -2vw;
      margin-right: 9vw; }
      @media only screen and (max-width: 1179px) {
        .logo {
          margin-right: auto; } }
      .logo img {
        width: 100%; }
    
    .wrapper {
      display: flex;
      align-items: center;
      flex-grow: 1; }
      @media only screen and (max-width: 1179px) {
        .wrapper {
          flex-grow: 0; } }
      @media only screen and (max-width: 767px) {
        .wrapper {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          flex-direction: column;
          align-items: stretch;
          border-radius: 20px;
          height: 40vh;
          margin: 0;
          padding: 100px 32px 40px;
          box-shadow: 0px 64px 64px rgba(31, 47, 70, 0.2);
          background: #FCFCFD;
          visibility: hidden;
          opacity: 0;
          transition: all .2s; }
          :global(.dark-mode) .wrapper {
            background: #FCFCFD; }
          .wrapper.active {
            visibility: visible;
            opacity: 1; } }
      .wrapper .button {
        display: none; }
        @media only screen and (max-width: 767px) {
          .wrapper .button {
            display: inline-flex;
            margin-top: 16px; } }
    
    /* .nav {
      display: flex;
      margin-right: auto;
      border-left: 2px solid #E6E8EC; }
      @media only screen and (max-width: 1179px) {
        .nav {
          display: none; } }
      @media only screen and (max-width: 767px) {
        .nav {
          display: flex;
          flex-direction: column;
          margin: 0 0 40px;
          border: none; } }
      :global(.dark-mode) .nav {
        border-color: #353945; } */
    
  .link {
      text-decoration: none;
      margin-left: 32px;
      font-family: 'Poppins', sans-serif;
      font-size: 18px;
      line-height: 40px;
      color: #6A6A6A;
      transition: color .2s; }
      @media only screen and (max-width: 767px) {
        .link {
          margin-left: 0;
          font-size: 24px;
          line-height: 64px; } }
      .link:hover, .link.active {
        color: #3772FF; }
      .link:nth-child(n+3) {
        display: none; }
        @media only screen and (max-width: 767px) {
          .link:nth-child(n+3) {
            display: block; } }
    
    .search {
      position: relative;
      flex-shrink: 0;
      width: 256px;
      margin-right: 5px;
      margin-left: 45vw; }
      @media only screen and (max-width: 1023px) {
        .search {
          display: none; } }
       @media only screen and (max-width: 767px) {
        .search {
          display: block;
          width: 100%;
          margin: 0 0; } }
    
    .input {
      width: 100%;
      height: 32px;
      padding: 0 42px 0 16px;
      background-color: #F5F5F5;
      border: none !important;
      border-radius: 20px;
      font-family: 'Poppins', sans-serif;
      font-size: 12px;
      font-style: black;
      line-height: 1.66667;
      transition: border-color .2s; }
      .input::placeholder {
        color: #777E90; }
      :global(.dark-mode) .input {
        border-color: #353945;
        color: black; }
      .input:focus {
        border-color: #777E90; }
    
    .result {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      border-radius: 20px;
      background-color: #F5F5F5;
      border: none !important;
      width: 42px; }
      .result svg {
        fill: #777E90;
        transition: fill .2s; }
      .result:hover svg {
        fill: #9C9C9C; }
   
    .notification {
      margin-right: 24px; }
      @media only screen and (max-width: 767px) {
        .notification {
          margin-right: 20px; } }
    
    .burger {
      display: none;
       }
      @media only screen and (max-width: 767px) {
        .burger {
          display: block;
          position: relative;
          margin-left: 20px;
          width: 32px;
          height: 32px;
          border: none !important;
          background: none;
          -webkit-tap-highlight-color: transparent; }
          .burger.active:before {
            transform: translateY(0) rotate(-45deg); }
          .burger.active:after {
            transform: translateY(0) rotate(45deg); }
          .burger:before, .burger:after {
            content: '';
            position: absolute;
            top: 16px;
            left: 6px;
            width: 20px;
            height: 2px;
            background: #8d8d8d;
            border-radius: 2px;
            transition: transform .2s; }
          .burger:before {
            transform: translateY(-4px); }
          .burger:after {
            transform: translateY(3px); } }
  
  .user{
    margin-right: -2vw;
  }

  .logBtn {
    position: relative;
    padding: 0px 20px !important;
    height: 35px;
    margin-right: 10px;
    margin-left: 1vw;
    font-weight: 600 !important;
    border: none !important;
    border-radius: 30px !important;
    justify-content: center !important;
    background: linear-gradient(
      60deg,
      rgba(141, 0, 253, 1) 4%,
      rgba(231, 13, 140, 1) 49%,
      rgba(237, 77, 107, 1),
      rgba(246, 164, 76, 1) 85%,
      rgba(252, 199, 55, 1) 92%
    ) !important;
  }
  
  .logbtnTxt {
    font-size: 16px !important;
    color: white !important;
  }

  @media only screen and (max-width: 767px) {
    .logBtn {
      display: block;
      width: 80%;
      margin: 0 0 0 6vw;
    } }

  .signbtn {
    border-radius: 100rem;
    position: relative;
    height: 35px;
    justify-content: center !important;
    align-items: center !important;
    margin-right: -2vw;
    padding: 0 !important;
    padding: 0px 10px !important;
    font-size: 16px !important;
    font-weight: 700 !important;
    letter-spacing: 0em !important;
    text-align: center !important;
    border-radius: 24.5px !important;
    border: solid 3.5px transparent !important;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(60deg, rgba(141, 0, 253, 1) 4%, rgba(231, 13, 140, 1) 49%, rgba(237, 77, 107, 1),
    rgba(246, 164, 76, 1) 85%, rgba(252, 199, 55, 1) 92%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #fff inset;
  }

.signbtn:active, .signbtn:focus {
    color: white !important;

}

.signbtntxt{
    background: -webkit-linear-gradient(27deg, rgba(158,1,235,1) 0%, rgba(211,24,126,1) 49%, rgba(243,189,56,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 767px) {
  .signbtn {
    display: block;
    width: 80%;
    margin: 2vh 0 0 6vw;
  } }

 @media only screen and (min-device-width:1023px) and (max-device-width:1099px){
    .search{
        margin-left: -25vw;
    }

    .signbtn{
        margin-right: 0vw;
    }

    .logo{
        margin-left: 0vw;
    }
} 

 @media only screen and (min-device-width:1100px) and (max-device-width:1145px){
    .search{
        margin-left: 34vw;
    }

    .signbtn{
        margin-right: -2vw;
    }

    .logo{
        margin-left: -2vw;
    } 
}

 @media only screen and (min-device-width:1146px) and (max-device-width:1169px){
    .search{
        margin-left: 34vw;
    }

    .signbtn{
        margin-right: -2vw;
    }

    .logo{
        margin-left: -2vw;
    }
}

 @media only screen and (min-device-width:1170px) and (max-device-width:1199px){
    .search{
        margin-left: 34vw;
    }

    .signbtn{
        margin-right: -1.5vw;
    }

    .logo{
        margin-left: -1.5vw;
    }
}

 @media only screen and (min-device-width:1200px) and (max-device-width:2500px){
    .search{
        margin-left: 34vw;
    }

    .signbtn{
        margin-right: -1vw;
    }

    .logo{
        margin-left: -1vw;
    }
}

@media only screen and (min-device-width:1301px) and (max-device-width:2500px){
    .search{
        margin-left: 37vw;
    }

    .signbtn{
        margin-right: -1vw;
    }

    .logo{
        margin-left: -1vw;
    }
}

@media only screen and (min-device-width:1350px) and (max-device-width:2500px){
    .search{
        margin-left: 39vw;
    }

    .signbtn{
        margin-right: -1vw;
    }

    .logo{
        margin-left: -1vw;
    }
}

@media only screen and (min-device-width:1410px) and (max-device-width:2500px){
    .search{
        margin-left: 41vw;
    }

    .signbtn{
        margin-right: -1vw;
    }

    .logo{
        margin-left: -1vw;
    }
}

@media only screen and (min-device-width:1500px) and (max-device-width:2500px){
    .search{
        margin-left: 43vw;
    }

    .signbtn{
        margin-right: -1vw;
    }

    .logo{
        margin-left: -1vw;
    }
}

@media only screen and (min-device-width:1550px) and (max-device-width:2500px){
    .search{
        margin-left: 44vw;
    }

    .signbtn{
        margin-right: -1vw;
    }

    .logo{
        margin-left: -1vw;
    }
}

@media only screen and (min-device-width:1680px) and (max-device-width:2500px){
    .search{
        margin-left: 47vw;
    }

    .signbtn{
        margin-right: -1vw;
    }

    .logo{
        margin-left: -1vw;
    }
}