@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {

    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding: 0;
}

.link{
    text-decoration: none;
    color:inherit;
}

 .link:hover,.link:focus{
        text-decoration: none;
        cursor: pointer;
        color:inherit;
}




.header1 {
    width: 100%;
    min-height: 100px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header1__logo{
    margin-left:25px;
}
  


.logo1>.link>img{
    width: 122px;
    height: auto;
    object-fit: contain;
}

   
.logo>img:hover{
        cursor: pointer;
}


.header1>hr{
    width: 58px;
    height: 0px;   
    border: 1.5px solid #D6D6D6;
    transform: rotate(90deg);

}
.header1__info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;    
    width:250px;
}

.header1__info>.link>h3  {
    display:flex;
    justify-content: center;
    align-items: center;
    width:auto;
    color: #6A6A6A;
    font-size: 22px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    border-radius:28px;
}
.header1__info>.link>h3:hover{
    cursor: pointer;
    text-shadow: 1.5px 1.5px rgb(78, 76, 76,.2);   
    border:none;
}


.header1__search {
    display: flex;
    width: 45vw;
    flex:1;
}

.header1__right {
    display: flex;
    width:175px;
    justify-content: center;
    align-items: center;
    display: flex;    
    align-items: center;
    height: 49px;
}
.header1_menu{
    display:none;
}


    @media(max-width:1100px){
        .header1__info{
            width:200px;
            margin-left:20px;
        }
        .header1__info>.link>h3{
            font-size:20px;
    
        }
        .header1__right{
            width:150px;
        }
       
    }
    @media(min-width:1500px){
        .header1__right{
            width:200px;
            
    }
    }
    
    @media screen and (max-width: 950px){
        .header1__info{
            display:none;
        }
        .header1__right{            
            width:120px;
           margin-left:10px;
        }
        .header1_menu{
            display: block;
        }

      
    }
    @media screen and (max-width: 975px){
        .header1_account{
            margin-right: 10px;
        }
    }

    @media screen and (max-width:700px){
        .header1__search{
            display:none;
        }
        .header1{
            justify-content: space-between;
        }
        .header1__right{
            margin-left:auto;
        }
        .logo1>.link>img{
            object-fit: contain;  
            width: 90px;
            height: auto;
        }
    }
    