.card {
    display: flex;
  }
    .card:hover .control {
      visibility: visible;
      opacity: 1; }


  
  .link {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px 0;
    color: #23262F; }
    :global(.dark-mode) .link {
      color: #FCFCFD; }
  
  .body {
    display: flex;
    flex-direction: column;
    flex-grow: 1; }
  
  .line {
    display: flex;
    align-items: flex-start; 
    flex-direction: column;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: -13px 13px 26px rgba(230, 230, 230, 0.2), 13px -13px 26px rgba(230, 230, 230, 0.2), -13px -13px 26px rgba(255, 255, 255, 0.9), 13px 13px 33px rgba(230, 230, 230, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(230, 230, 230, 0.5);
    border-radius: 20px;
    padding: 22px;
  }
    .line:first-child {
      margin-bottom: 12px; }
    .line:nth-child(2) {
      margin-top: auto; }
  
  .title {
    margin-right: auto;
    padding-top: 10px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
    font-size: 16px; 
  }

  .desc{
    font-size: 12px;
    padding-top: 7px;
  }
  
  .price {
    flex-shrink: 0;
    /* margin-left: 8px; */
    padding: 0 8px;
    font-size: 12px;
    border-radius: 4px;
    box-shadow: inset 0 0 0 2px #45B26B;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #45B26B; 
    margin-top: 7px;
    
  }

  .btn{
    position: absolute;
    bottom: 10px;
    left: 45%;
    transform: translate(-45%, 0);
    
  }
  
  .users {
    display: flex;
    margin-right: auto; 
  }

  .image{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .avatar {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #FCFCFD; }
    :global(.dark-mode) .avatar {
      border-color: #23262F; }
    .avatar img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%; }
    .avatar:not(:first-child) {
      margin-left: -8px; }
  
  :global(.dark-mode) .counter {
    color: #E6E8EC; }
  
  .foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
    padding-top: 12px;
    border-top: 1px solid #E6E8EC;
    font-size: 12px;
    line-height: 1.66667;
    color: #777E90; }
    :global(.dark-mode) .foot {
      border-color: #353945; }
  
  .status svg {
    margin: -2px 4px 0 0;
    fill: #777E90; }
  
  .status span {
    font-weight: 600;
    color: #353945; }
    :global(.dark-mode) .status span {
      color: #FCFCFD; }
  