.fullWidth{
    width: 100%;
    padding: 0 7px;
}

.halfWidth{
    width: 50%;
    padding: 0 7px;
}

label {
    /* margin-bottom: 4px !important; */
    font-weight: 500 !important;
    font-size: 12px !important;
}

.inputItself{
    border-radius: 6px !important;
}

@media only screen and (max-width: 768px) {
    .halfWidth{
        width: 100%;
    }
  }