.container {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position:fixed;
    display: grid;
    place-items: center;
    z-index: 999999;
    background: rgba(0, 0, 0, 0.201);
}


.first_modal.hide, .second_modal.hide, .third_modal.hide {
    display: none;
}


.first_modal.show, .second_modal.show, .third_modal.show {
    width: 696px;
    /* height: 653px; */
    background: #FFFFFF;
    border-radius: 20px;
    padding: 60px 45px;
    position: relative;
    display: grid;
    gap: 20px;
}

.back {
    position: absolute;
    cursor: pointer;
    top: 5%;
    left: 5%;
}

.box_head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.gift_icon {
    background: #ED0090;
    width: 68px;
    height: 68px;
    color: white;
    border-radius: 15px;
    display: grid;
    place-items: center;
}

.heading {
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #010101;
    margin: 0;
    padding: 0;
}

.p {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #010101;
    margin: 0;
    padding: 0;
}

.availed {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:8px;
    width: 114px;
}
.check{
    color:rgb(89, 243, 102);
}
.p_availed {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #494949;

}

.requested {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:8px;
    width: 114px;
}
.request{
    color:#A5A5A5;
}
.p_request {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #A5A5A5;

}

.box_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.rows {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background: #FCFCFC;
    box-shadow: -11px 11px 22px rgba(239, 239, 239, 0.2), 11px -11px 22px rgba(239, 239, 239, 0.2), -11px -11px 22px rgba(255, 255, 255, 0.9), 11px 11px 28px rgba(239, 239, 239, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(239, 239, 239, 0.5);
    border-radius: 20px;
    height: 81px;
    padding: 20px;
}

.btn_grad {
    width: 114px;
    height: 39px;
    border-radius: 50px;
}

.p_content2 {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #010101;
    margin: 0;
    padding: 0;
    text-align: center;
}

.content {
    width: 280px;
    height: 40px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #010101;
    margin: 0;
    padding: 0;
}


.row2 {
    background: #FCFCFC;
    box-shadow: -11px 11px 22px rgba(239, 239, 239, 0.2), 11px -11px 22px rgba(239, 239, 239, 0.2), -11px -11px 22px rgba(255, 255, 255, 0.9), 11px 11px 28px rgba(239, 239, 239, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(239, 239, 239, 0.5);
    height: 60px;
    padding: 20px;
    border-radius: 20px;
}


.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

.btn {
    width: 211px;
    height: 46px;
    background: #ED0090;
    border-radius: 50px;
    border: 3px solid #ED0090;
    outline: none;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_text {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
}

.btn:hover {
    background: #ffffff;
}

.btn:hover>.btn_text {
    color: #ED0090;
}

.btn_white {
    width: 211px;
    height: 46px;
    background: #ffffff;
    border-radius: 50px;
    border: 3px solid #ED0090;
    outline: none;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_white_text {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #ED0090;
    padding: 0;
    margin: 0;
}

.btn_white:hover {
    background: #ED0090;
}

.btn_white:hover>.btn_white_text {
    color: #FFFFFF;
}