.Heading{
    font-weight: bold;
    font-size: 24px;
    color: #000000;
    margin-bottom: 0;
}

.select{
    border:none !important;
    background: #FCFCFC !important;
}

.customTooltip{
    background: linear-gradient(
        60deg,
        rgba(141, 0, 253, 1) 4%,
        rgba(231, 13, 140, 1) 49%,
        rgba(237, 77, 107, 1),
        rgba(246, 164, 76, 1) 85%,
        rgba(252, 199, 55, 1) 92%
      ) !important;
    border-radius: 5px;
    padding-left: 12px;
    padding-right: 12px;
}
.label{
    padding: 5px;
    font-weight: 600;
    color: white;
    font-size: 11.5px;

}

.select:focus{
    outline:none !important;
    outline-width: none !important;
    box-shadow: none !important;
    
}

.chart{
    width: 100%;
    height: 300px;
    margin-top: 30px;
    margin-bottom: 90px;
}