.user {
  margin: 0;
  padding: 0;
}

.item {
  display: flex;
  align-items: center;
  padding: 0 0 16px 0;
  margin-bottom:16px;
  border-bottom: 1px solid #E6E8EC;
}

:global(.dark-mode) .item {
  border-color: #353945;
}

#avatar {
  position: relative;
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  margin-right: 16px;
  object-fit: cover;
  border-radius: 320px;
  display: grid;
  place-items: center;
  padding: 0;
}

.details {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 3px;
  align-items: flex-start;
  justify-content: center;
}

.position {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #959595;
}

.name {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

@media only screen and (max-width: 700px){
  #avatar {
    width:50px;
    height:50px;
  }
}