
.settingsMenu{
    background: #FFFFFF;
    border: 0.5px solid #E7E7E7;
    box-sizing: border-box;
    border-radius: 20px;

}

.heading{
    font-weight: bold;
    font-size: 32px;
    padding: 25px 10px 17px 20px;
    border-bottom: 1px solid #E3E3E3;
}

.page{
    border-radius: 15px;
    padding: 15px 20px;
    margin: 7px 10px;
    background: #FCFCFC;
    cursor: pointer;
    
}

.active{
    background: #F7F7F7;
    font-weight: 600;

}