.user {
    margin: 0;
    padding: 0;
}

.item {
    display: flex;
    align-items: center;
    padding: 16px 0;
    border-bottom: 1px solid #E6E8EC;
}

:global(.dark-mode) .item {
    border-color: #353945;
}

/* .item:not(:last-child) {
    margin-bottom: 16px;
} */

#avatar {
    position: relative;
    flex-shrink: 0;
    width: 80px;
    height: 80px;
    margin-right: 16px;
    object-fit: cover;
    border-radius: 320px;
    display: grid;
    place-items: center;
    padding: 0;
  }


.details {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.data {
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: flex-start;
    justify-content: center;

}

.id {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #959595;

}

.name {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.bid {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: right;
    color: #000000;
}