.title{
    font-weight: bold;
    font-size: 32px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E3E3E3;
    padding: 25px 10px 17px 20px;
}

.mainDiv{
    background: #fff;
    border-radius: 20px;

}

.inputs{
    z-index: 1;
}

.pfImage{
    width: 100px;
    height: 100px;
}


.content{
    padding: 25px 10px 17px 20px;

}

.linkedAccounts, .personalInfos{
    margin-top: 20px;
}

.sectionHeading{
    font-weight: 600;
    font-size: 24px;
}



.pencilIcon{
    cursor: pointer;
    padding: 5px 8px;
    top: 75px;
    right: 7px;
    background: white;
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    font-size: 10px;
}

.usernameRange{
    font-weight: 500;
    font-size: 14px;
    color: #B1B5C3;
    margin-top: -8px;
    margin-left: 10px;
    margin-bottom: 0;
}

.gradbtn{
    justify-content: center !important;
    padding-top: 20px;
    margin-left: 14vw;
}

@media only screen and (max-width:768px){
    .pfImage{
        margin: 0 0 4vh 0vw;
    }
    .avt{
        justify-content: center !important;
    }

    .content{
        padding: 20px 0 17px 0;
    }

    .usernameRange{
        display: none;
    }

    .inName{
        padding-bottom: 5px;

    }

}

@media only screen and (max-width:767px){
    .editProf{
        display: flex !important;
        flex-direction: column !important;
    }
    .gradbtn{
        justify-content: center !important;
        padding-top: 20px;
        margin-left: 0 !important;
    }
}

@media only screen and (min-width:768px) and (max-width:768px){
    .editProf{
        display: flex !important;
        flex-direction: column !important;
    }
    .gradbtn{
        justify-content: center !important;
        padding-top: 20px;
        margin-left: 21vw;
    }
    
}

@media only screen and (min-width:820px) and (max-width:820px){
    .gradbtn{
        justify-content: center !important;
        padding-top: 20px;
        margin-left: 21vw;
    }
    
}

