.back>img{
    width:30px !important;
    height:30px !important;

}
.back{
    background-color:transparent !important ;
    width:40px !important;
    height:40px !important;
    border:none  !important;
    display:flex !important;
    justify-content:center !important;
    align-items:center !important;

    border-radius: 50% !important;
}
.back:hover,.back:focus{
    cursor:pointer !important;
    box-shadow: 1px 1px .5px rgb(78, 76, 76,.2) !important;
}