.title{
    font-weight: bold;
    font-size: 32px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E3E3E3;
    padding: 25px 10px 17px 20px;
}

.mainDiv{
    background: #fff;
    border-radius: 20px;
    z-index: -2;

}

.heading{
    font-weight: 600;
    font-size: 24px;
}

.reportDiv{
    padding: 25px 10px 17px 20px;
    border-bottom: 1px solid #E3E3E3;
    margin-bottom: 10px;
}

.lableText{
    color: #B1B5C4;
    font-weight: 600 !important;
    margin-bottom: 5px;
    font-size: 12px ;
}

.textarea{
    border-radius: 10px;
    margin: 10px 0px;
}

.helpCenter{
    padding: 25px 10px 17px 20px;
    margin-bottom: 10px;
}