.switch{
    position: relative!important;
    display: inline-block!important;
    width:45px!important;
    height:22px!important;
    padding:0 !important;
    background: #C4C4C4!important;
    border-radius: 11px!important;
}

.input{
    opacity: 0!important;
    width:0!important;
    height: 0!important;
}

.slider{
    position:absolute!important;
    cursor:pointer!important;
    top:0!important;
    left:0!important;
    right:0!important;
    bottom:0!important;
    background: #C4C4C4!important;
    transition:.42s ease-in-out!important;
    border-radius: 11px!important;
}

.slider:before{
    position:absolute!important;content:""!important;
    height:18px!important;
    width:18px!important;
    left:1.6px!important;
    bottom:2px!important;
    top: 2px !important;
    background: #FFFFFF!important;
    transition:.42s ease-in-out !important;
    border-radius: 100%!important;
}

.input:checked + .slider{
    background: linear-gradient(27deg, rgba(158, 1, 235, 1) 0%, rgba(211, 24, 126, 1) 49%, rgba(243, 189, 56, 1) 100%) !important;
}

.input:checked + .slider:before{
    transform:translateX(24px)!important;
}