.btnName {
    font-weight: bold;
    font-size: 16px;
    color:white;
   
  }
  
  .gradientBorder {
    border: none !important;
    border-radius: 30px !important;
    font-weight: 600 !important;
    font-size: 22px !important;
    line-height: 32px !important;
    position: relative;
    border: 10px solid;
    border-radius: 16px;
    background:linear-gradient(90deg, rgba(158, 1, 235, 1) 0%, rgba(211, 24, 126, 1) 49%, rgba(243, 189, 56, 1) 100%) !important;
    color: black !important;
    padding: 0px 20px !important;
  }
  