.container{
    background: #fcfcfc;
    min-height: 100vh;
}

.mainDiv{
    margin: 0 40px !important;

}

/* .but button{
    outline: none !important;
    box-shadow: none;
} */
.change{
    /* border-radius: 10px !important; */
    /* text-decoration: none !important;
    color: white !important; */
    /* outline: none !important; */
    outline: none !important;
    box-shadow: none;
    margin-top: 20px !important;
    margin-bottom: 10px !important;
    border-left: none !important;
    border-right: none !important;
}
.change button{
    text-decoration: none !important;
    outline: none !important;
    box-shadow: none !important;
    color: black !important;
}
.showSection1{
    display: none;
    margin-top: 20px !important;
    background: #FFFFFF;
    border: 0.5px solid #E7E7E7;
    box-sizing: border-box;
    border-radius: 20px;
    z-index: 22;
}



.heading{
    font-weight: bold;
    font-size: 32px;
    padding: 25px 10px 17px 20px;
    border-bottom: 1px solid #E3E3E3;
}
.settingsMenu,.pageLinks, .showSection{
    margin-top: 20px !important;
}
@media (max-width: 768px){
    .settingsMenu,.pageLinks, .showSection{
       display: none;
    }
    .showSection1{
        display:block;
    }
    .mainDiv{
        width: 92%;
        margin: 0 !important;
        height: 100%;
    }
    .container{
        display: flex;
        justify-content: center;
    }
}

@media only screen and (min-width:820px) and (max-width:820px){
    .mainDiv{
        width: 95%;
        margin: 0 !important;
        height: 100%;
    }
    .container{
        display: flex;
        justify-content: center;
    }
}