.options {
    display: flex;
    padding: 8px;
    border-radius: 32px;
    background: #FCFCFD;
    border:none;
    outline: none;
}

:global(.dark-mode) .options {
    background: #23262F;
}



#star:hover  {
    fill: #EF466F;
    color:#ff0040;
}