
.headDiv{
  background-color: #F7F9F9 !important;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}


.header {
    position: relative;
    z-index: 20;
    margin-top: 2%;
    background-color: white;
    padding: 18px;
    padding-left: 4vw;
    padding-right: 4vw;
    border-radius: 27px;
    border: 2px solid #E3E3E3 !important; }
    @media only screen and (max-width: 767px) {
      .header {
        padding: 48px 0 24px;
        border: none; } }
    :global(.dark-mode) .header {
      border-color: #353945; }
  
  .container {
    display: flex;
    align-items: center; }
    .container > .button {
      margin-right: 12px; }
      @media only screen and (max-width: 767px) {
        .container > .button {
          display: none; } }
  
  .logo {
    position: relative;
    z-index: 12;
    display: inline-block;
    flex-shrink: 0;
    width: 128px;
    margin-right: 32px; }
    @media only screen and (max-width: 1179px) {
      .logo {
        margin-right: auto; } }
    .logo img {
      width: 100%; }
  
  .wrapper {
    display: flex;
    align-items: center;
    flex-grow: 1; }
    @media only screen and (max-width: 1179px) {
      .wrapper {
        flex-grow: 0; } }
    @media only screen and (max-width: 767px) {
      .wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        flex-direction: column;
        align-items: stretch;
        height: 100vh;
        margin: 0;
        padding: 140px 32px 40px;
        box-shadow: 0px 64px 64px rgba(31, 47, 70, 0.2);
        background: #FCFCFD;
        visibility: hidden;
        opacity: 0;
        transition: all .2s; }
        :global(.dark-mode) .wrapper {
          background: #141416; }
        .wrapper.active {
          visibility: visible;
          opacity: 1; } }
    .wrapper .button {
      display: none; }
      @media only screen and (max-width: 767px) {
        .wrapper .button {
          display: inline-flex;
          margin-top: 16px; } }
  
  .nav {
    display: flex;
    margin-right: auto;
    border-left: 2px solid #E6E8EC; }
    @media only screen and (max-width: 1179px) {
      .nav {
        display: none; } }
    @media only screen and (max-width: 767px) {
      .nav {
        display: flex;
        flex-direction: column;
        margin: 0 0 40px;
        border: none; } }
    :global(.dark-mode) .nav {
      border-color: #353945; }
  
  .link {
    text-decoration: none;
    margin-left: 32px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 40px;
    color: #6A6A6A;
    transition: color .2s; }
    @media only screen and (max-width: 767px) {
      .link {
        margin-left: 0;
        font-size: 24px;
        line-height: 64px; } }
    .link:hover, .link.active {
      color: #3772FF; }
    .link:nth-child(n+3) {
      display: none; }
      @media only screen and (max-width: 767px) {
        .link:nth-child(n+3) {
          display: block; } }
  
  .search {
    position: relative;
    flex-shrink: 0;
    width: 256px;
    margin-right: 24px;
    margin-left: 45vw; }
    @media only screen and (max-width: 1023px) {
      .search {
        display: none; } }
    @media only screen and (max-width: 767px) {
      .search {
        display: block;
        width: 100%;
        margin: auto 0 0; } }
  
  .input {
    width: 100%;
    height: 40px;
    padding: 0 42px 0 16px;
    background: none;
    border: 2px solid #E6E8EC;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    line-height: 1.66667;
    transition: border-color .2s; }
    .input::placeholder {
      color: #777E90; }
    :global(.dark-mode) .input {
      border-color: #353945;
      color: #FCFCFD; }
    .input:focus {
      border-color: #777E90; }
  
  .result {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 42px; }
    .result svg {
      fill: #777E90;
      transition: fill .2s; }
    .result:hover svg {
      fill: #3772FF; }
  
  .notification {
    margin-right: 24px; }
    @media only screen and (max-width: 767px) {
      .notification {
        margin-right: 20px; } }
  
  .burger {
    display: none; }
    @media only screen and (max-width: 767px) {
      .burger {
        display: block;
        position: relative;
        margin-left: 20px;
        width: 32px;
        height: 32px;
        background: none;
        -webkit-tap-highlight-color: transparent; }
        .burger.active:before {
          transform: translateY(0) rotate(-45deg); }
        .burger.active:after {
          transform: translateY(0) rotate(45deg); }
        .burger:before, .burger:after {
          content: '';
          position: absolute;
          top: 16px;
          left: 6px;
          width: 20px;
          height: 2px;
          background: #777E90;
          border-radius: 2px;
          transition: transform .2s; }
        .burger:before {
          transform: translateY(-4px); }
        .burger:after {
          transform: translateY(3px); } }
  