.loginPage{
    height: 100vh;
}

.loginForm{
    padding: 10px 50px;
    border-radius: 25px;
    width: 50%;
    margin-bottom: 40px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);

}


.loginHeaderText{
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 30px;

}

.subtitleText{
    font-weight: 500;
    font-size: 16px;

}

.subtitleText .createAccount{
   text-decoration: underline;

}

.loginHeaderText, .subtitleText{
    text-align: center;
}

.inputs{
    width: 100%;
}


.forgotPassword{
    font-size: 12px;
    line-height: 20px;
    text-decoration: underline;
    text-align: end;
    color: #7E7E7E;
}


@media only screen and (max-width: 768px) {
    .loginForm{
        width: 95% !important;
        margin-top: 2.5vh;
        padding: 10px 20px;

    }

    .loginHeaderText{
        font-size: 32px;
        letter-spacing: -0.01em;
    }
  }

  @media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
    .loginForm{
        width: 80% !important;
        margin-top: 2.5vh;
        padding: 10px 20px;

    }

    .loginHeaderText{
        font-size: 32px;
        letter-spacing: -0.01em;
    }
  }