.profile{
    padding: 10px 0;
}

.bb{
    border-bottom: 0.5px solid #C4C4C4;
}

.profilePic{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.name{
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 0;
}

.username{
    font-size: 12px;
    margin-bottom: 0;
}

.bio{
    font-size: 12px;
    line-height: 18px;
    color: #5F5F5F;
    margin-bottom: 0;
}

.button{
    flex: 1;
}