.wrapper {
    width: 93%;
    height: auto;
    background: #FFFFFF;
    box-shadow: -13px 13px 26px rgba(242, 242, 242, 0.2), 13px -13px 26px rgba(242, 242, 242, 0.2), -13px -13px 26px rgba(255, 255, 255, 0.9), 13px 13px 33px rgba(242, 242, 242, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(242, 242, 242, 0.5);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin: 10px auto;
    padding: 60px 88px;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    gap: 15px;
    border-bottom: 1px solid #EDEDED;
    padding-bottom: 50px;

}

.title {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    color: #000000;
    align-self: center;
    margin: 0 0 19px 0;
    padding: 0;
}

/* Upload Nft Styling */
.Upload {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    margin: 0;
    width: 640px;
    height: 246px;
    gap: 5px;
    margin-bottom: 5px;
    width: 100%;
}

.upldFile {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #23262F;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.drag {
    margin: 0 0 7px 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    color: #777E91;
}

/* FileUploader Styling */
.Upload>label {
    max-width: fit-content !important;
    width: 100% !important;
    height: 182px !important;
    display: flex !important;
    min-width: 100% !important;
    /* max-width: none !important; */
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    /* padding: 64px 8px!important; */
    gap: 20px !important;
    background: #F4F5F6 !important;
    border-radius: 16px !important;
    border: 1px solid #F4F5F6 !important;
    color: grey !important;
    margin: 0 !important;
    cursor: pointer !important;
}

.Filearrow {
    color: #777E91
}

.fileTypes {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #777E91;
}

/* Input fields styling */
.ItemName {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;

}

.Heading {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #B1B5C4;
    margin: 0;
    padding: 0;
}

.Input {
    display: flex !important;
    flex-direction: row !important;
    align-items: flex-start !important;
    padding: 12px 16px !important;
    width: 100% !important;
    height: 48px !important;
    border: 2px solid #E6E8EC !important;
    box-sizing: border-box !important;
    border-radius: 12px !important;
    outline: none !important;
}

.Input:focus {
    box-shadow: none;
    outline: none;
}

.Item_stck_prc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.ItemCred {
    width: 47%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.ItemDesc {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Input_Description {
    resize: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start !important;
    justify-content: flex-start;
    padding: 12px 16px;
    width: 100%;
    height: 172px;
    border: 2px solid #E6E8EC;
    box-sizing: border-box;
    border-radius: 12px;
    margin: 12px 0 0 0;
    outline: none;
}

.Input:hover, .Input_Description:hover {
    border: 2px solid #dbdbdb !important;
}

.note {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #959595;
    margin: 0 0 1px 0;
    padding: 0;
}

/* Perks styling */

.Perks {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 7px;
    margin-bottom: 10px;
}

.PerkHead {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.transferable {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.Heading_transfer {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #959595;
    margin: 0;
    padding: 0;
}

.PerkBody {
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 17px;
    flex-wrap: wrap;
    border: 10px solid #0000;
}

.Plus {
    border-radius: 50%;
    background: #f7f7f7;
    width: 40px;
    height: 40px;
    display: flex;
    outline: none;
    place-items: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ebebeb;
}

.Plus:hover {
    box-shadow: 0 .25px .25px #e6e6e6;
    transform: translateY(-1px);
    transition: .25s ease-in-out;
}

.AddPerk {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    color: #494949;
    text-transform: capitalize;

}

.dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 12px;
}

.drop:hover {
    cursor: pointer;
}

.drop {
    height: 48px !important;
    width: 100% !important;
    display: flex !important;
    align-items: flex-start !important;
    justify-content: space-between !important;
    padding: 12px 12px 12px 16px !important;
    background: #FCFCFD !important;
    border: 2px solid #E6E8EC !important;
    box-sizing: border-box !important;
    border-radius: 12px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 24px !important;
    display: flex !important;
    align-items: center !important;
    color: #23262F !important;
    box-shadow: none !important;
}

.Bottom {
    width: 100%;
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
}

.Collection {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
    margin-bottom: 42px;
}

.Collection_title {
    font-style: normal;
    font-weight: 500;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    color: #23262F;
}

.Collection_sub {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #777E91;
    margin: 0;
    padding: 0;
}

.btns {
    display: flex;
    width: auto;
    height: auto;
    gap: 41px;
}

.Gradbtn {
    width: 123px !important;
    height: 41px !important;
    border-radius: 52px !important;
    font-weight: bold !important;
}

.Previewbtn {
    width: 123px;
    border: none;
    outline: none;
    background: transparent;
}

.btnText {
    font-style: normal;
    font-weight: 600 !important;
    font-size: 16px;
    line-height: 24px;
    text-decoration: underline;
    color: #494949;
    margin: 0;
    padding: 0;

}

/* Responsive */
@media only screen and (max-width: 1260px) {
    .wrapper {
        padding: 60px;
    }
}

@media only screen and (max-width: 1100px) {
    .wrapper {
        padding: 30px;
    }
}

@media only screen and (max-width: 1025px) {
    .Item_stck_prc {
        flex-direction: column;
        gap: 17px;
    }

    .ItemCred {
        width: 100%;
    }
}

@media only screen and (max-width:900px) {
    .wrapper {
        padding: 45px;
    }
}


@media only screen and (max-width:620px) {
    .wrapper {
        padding: 60px 20px
    }
}


@media only screen and (max-width:360px) {
    .wrapper {
        padding: 60px 10px
    }

    .title {
        font-size: 30px;
        line-height: 30px;
    }

    .btns {
        width: 100%;
        gap: 20px;
    }

    .Previewbtn {
        width: 90px;
    }

    .btnText {
        font-size: 14px;
    }

    .Gradbtn {
        width: 90px !important;
        font-size: 14px !important;
        height: 30px !important;

    }
}