.wrapper {
    width: 100%;
    height: auto;
    background: #FFFFFF;
    box-shadow: -13px 13px 26px rgba(242, 242, 242, 0.2), 13px -13px 26px rgba(242, 242, 242, 0.2), -13px -13px 26px rgba(255, 255, 255, 0.9), 13px 13px 33px rgba(242, 242, 242, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(242, 242, 242, 0.5);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 60px 88px;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    gap: 15px;
    border-bottom: 1px solid #EDEDED;
    padding-bottom: 50px;

}

.title {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    color: #000000;
    align-self: center;
}

.Upload {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    margin: 0;
    width: 640px;
    height: 246px;
    gap: 5px;
    margin-bottom: 5px;
    width: 100%;
}

.upldFile {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #23262F;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.drag {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    color: #777E91;
    margin-bottom: 7px;
}

/* FileUploader Styling */
.Upload>label {
    max-width: fit-content !important;
    width: 100% !important;
    height: 182px !important;
    display: flex !important;
    min-width: 100% !important;
    /* max-width: none !important; */
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    /* padding: 64px 8px!important; */
    gap: 20px !important;
    background: #F4F5F6 !important;
    border-radius: 16px !important;
    border: 1px solid #F4F5F6 !important;
    color: grey !important;
    margin: 0 !important;
    cursor: pointer !important;
}

.Filearrow {
    color: #777E91
}

.fileTypes {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #777E91;
}

.ItemName {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;

}

.Heading {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #B1B5C4;
    margin: 0;
}

.Input {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 16px;
    width: 100%;
    height: 48px;
    border: 2px solid #E6E8EC;
    box-sizing: border-box;
    border-radius: 12px;
}

.Item_stck_prc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.ItemCred {
    width: 47%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.Input_1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 16px;
    width: 100%;
    height: 48px;
    border: 2px solid #E6E8EC;
    box-sizing: border-box;
    border-radius: 12px;
    margin: 0;
}

.ItemDesc {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Input_Description {
    resize: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start !important;
    justify-content: flex-start;
    padding: 12px 16px;
    width: 100%;
    height: 172px;
    border: 2px solid #E6E8EC;
    box-sizing: border-box;
    border-radius: 12px;
    margin: 12px 0 0 0;
}

.Input:hover, .Input_1:hover, .Input_Description:hover {
    border: 2px solid #d2d2d2;
}

.note {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #959595;
    margin-bottom: 1px;
}

.Perks {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
    margin-bottom: 10px;
}

.PerkHead {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.transferable {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.PerkBody {
    margin-top:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    width: auto;
}

.Plus {
    border-radius: 50%;
    background: #f7f7f7;
    width: 40px;
    height: 40px;
    display: flex;
    place-items: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ebebeb;
}
.Plus:hover{
    box-shadow:0 .5px .5px #aaa8a8;
}

.AddPerk {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    color: #494949;

}

.dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 12px;
}

.drop:hover {
    cursor: pointer;
}

.drop {
    height: 48px !important;
    width: 100% !important;
    display: flex !important;
    align-items: flex-start !important;
    justify-content: space-between !important;
    padding: 12px 12px 12px 16px !important;
    background: #FCFCFD !important;
    border: 2px solid #E6E8EC !important;
    box-sizing: border-box !important;
    border-radius: 12px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 24px !important;
    display: flex !important;
    align-items: center !important;
    color: #23262F !important;
}

.Bottom {
    width: 100%;
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
}

.Collection {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
    margin-bottom: 42px;
}

.Collection_title {
    font-style: normal;
    font-weight: 500;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    color: #23262F;
}

.Collection_sub {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #777E91;
}

.btns {
    display: flex;
    width: auto;
    height: auto;
    gap: 41px;
}

.Gradbtn {
    width: 123px !important;
    height: 41px !important;
    border-radius: 52px !important;
    font-weight: bold !important;
}

.Previewbtn {
    border: none;
    outline: none;
    background: transparent;
}

.btnText {
    font-style: normal;
    font-weight: 600 !important;
    font-size: 16px;
    line-height: 24px;
    text-decoration: underline;
    color: #494949;
}

@media only screen and (max-width: 1025px) {
    .Bottom {
        width: 100%;
    }
    .wrapper{
        padding:30px
    }
}