.navLinks{
    margin-bottom: 45px;
}

.created, .owned{
    margin-right: 20px;
    color: #8E8E8E;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}

.active{
    
    padding-bottom: 5px;
    border-bottom: 4.6px solid #000000;
    color: black;
}