.options {
    display: flex;
    padding: 8px;
    border-radius: 32px;
    background: #FCFCFD;
    border: none;
    outline: none;
}

@media (max-width: 700px) {
    #star {
        width: clamp(25px,5.714vw, 40px);
        height: clamp(25px,5.714vw, 40px);
    }
}

#star:hover {
    fill: #EF466F;
    color: #ff0040;
}