.heading{
    font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 32px;
}

.createdAndSold{
    margin-top: 1.5rem;
}

.createdAndSold span{
    font-weight: 600;
    font-size: 20px;
    color: #8E8E8E;
    margin-right: 1rem;
    cursor: pointer;
}

.active{
    color: #000 !important;
    border-bottom: 3px solid #000;
}

.createdNfts{
    margin-top: 1rem !important;
    background: #FEFEFE;
    padding: 4rem 0;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 20px;
    row-gap: 1rem;
    column-gap: 1.5rem;
}