.items{
  width:100%;
  height:auto;
}

.list{
  width:100%;
  height:auto;
  display:flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  align-items: center;
  justify-content:space-between;
}
.card{
  /* width: 274px !important;;
  height:438px !important; */
}