.notificationPreviewBox{
     background: #F7F9F9;
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
}
.image{
    width: 43px;
    height: 43px;
}

.nameAndNot{
    font-size: 12px;
    margin-bottom: 0;
    margin-left: 15px;
}

.name{
    font-weight: 600;
}