@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {

    box-sizing: border-box;

    margin: 0;
    font-family: 'Poppins', sans-serif;
    /* border: 1px solid black; */

    padding: 0;
}
.link{
    
    text-decoration:none;
}
.link:hover{
    
    text-decoration:none;
    cursor:pointer;

}
#back1{
   
    margin-left:-450px;
    margin-bottom:-30px;
  
}
.card_body {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 580px;
    height: 584px;
    padding: 40px 0;
    


    background: #FFFFFF;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
    border-radius: 27px;
}

.card_title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:15px;
    width: 349px;
    height: 96px;

}

.card_title>h2 {

    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -0.01em;

    color: #000000;

}

.card_subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 419px;
    height: 48px;

}

.card_subtitle>p {

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;


    text-align: center;


    color: #23262F;
}

.card_content {
    display: flex;
    /* grid-template-columns: repeat(3,1fr); */
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
    flex-basis: 33.333333%;
    margin-top: 3vh;
}


.Card_continuebutton{
    margin-top:15px;

}




@media(max-width:1020px) {
    #back1{
        display: none;
    }
    .card_body {
        width: 360px;
        height: 584px;
        padding:10px;
    }

    .card_title {
        width: 285.31px;
        height: 80px;
       text-align: center;
        color: #000000;
    }
    .card_title>h2{
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.01em;

    }

    .card_subtitle {
        width: 285px;
        height: 72px;
        text-align: center;
        
      
        
        color: #23262F;
    }
    .card_subtitle>p{
        font-style: normal;
        font-weight: 500;
        font-size: 16px; 
        line-height: 24px;

    }
    .card_content{
        display:flex;
        flex-basis:50%;

    }
  
    .Card_continuebutton{
            margin-top:12.5px;
            }
        
        
        
    }