.interest_container{
    padding:40px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    width:100vw;
    height:100vh;
    overflow-x:hidden;
}
.logo{
    align-self: flex-start;
    width:181px;
    height:auto;
}
.contain{
    display:flex;
    justify-content:center;
    align-items:center;
    

}